<section>
    <div id="titulo">
        <img src="https://www.purdue.edu/discoverypark/arequipa-nexus/images/unsa.png" alt="logo">
        <h1>Repositorio de trabajos de investigación</h1>
        <h2>Universidad Nacional San Agustín se Arequipa</h2>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="menu">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link" routerLink="/">
                                <i class="fa fa-home"></i>Inicio</a>
                            <a class="nav-item nav-link" routerLink="/buscador">
                                <i class="fa fa-search"></i>Búsqueda</a>
                            <a class="nav-item nav-link" routerLink="/messenger">
                                <i class="fa fa-facebook-official"></i>Messenger</a> 
                            <a class="nav-item nav-link" routerLink="/explorador">
                                <i class="fa fa-list-alt"></i> Explorador</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>