<section>
  <div id="superior">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm">
          <h1>Universidad Nacional San Agustín de Arequipa</h1>
        </div>
        <div class="col-12 col-sm">
          <h1>Enlaces importantes</h1>
        </div>
        <div class="col-12 col-sm">
          <h1>Servicio de Facebook Messenger</h1>
          <p>Con el nuevo servicio para Facebook Messenger puedes buscar trabajos de investigación desde tu celular, puedes realizar consultas a los autores y ponerte en contacto con ellos.</p>
          <button type="button" class="btn btn-light btn-sm">Más información</button>
        </div>
      </div>
    </div>
  </div>
  <div id="inferior">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm">
          <p class="text-left">Todos los derechos reservados</p>
        </div>
        <div class="col-12 col-sm">
          <p class="text-right">Cloud Computing</p>
        </div>
      </div>
    </div>
  </div>
</section>
