<section>
  <div id="superior">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm">
          <h1>Universidad Nacional San Agustín de Arequipa</h1>
        </div>
        <div class="col-12 col-sm">
          <h1>Enlaces importantes</h1>
        </div>
        <div class="col-12 col-sm">
          <h1>Contacto</h1>
        </div>
      </div>
    </div>
  </div>
  <div id="inferior">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm">
          <p class="text-left">Universidad Nacional San Agustín de Arequipa - Todos los derechos reservados</p>
        </div>
        <div class="col-12 col-sm">
          <p class="text-right">Cloud Computing</p>
        </div>
      </div>
    </div>
  </div>
</section>
