<section class="animated fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Búsqueda</h1>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="buscador.expression" placeholder="Ingrese el término a buscar ...">
        </div>
        <div class="form-group">
          <button class="btn btn-light" (click)="buscarClick()"><i class="fa fa-search"></i> Buscar</button>
          <button class="btn btn-dark" data-toggle="collapse" data-target="#filtros" aria-expanded="false" aria-controls="filtros"><i class="fa fa-filter"></i> Filtros</button>
          <a class="btn btn-dark" routerLink="/explorador">
            <i class="fa fa-list-alt"></i> Explorador</a>
        </div>
        <div class="collapse" id="filtros">
          <div class="card card-body">
            Seleccione los filtros que desea aplicar:
            
          </div>
        </div>
        <hr>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Resultados</h1>
        <app-enlace *ngFor="let documento of documentos" [documento]=documento></app-enlace>
      </div>
    </div>
  </div>
</section>