<section>
  <a href="{{resultado.url}}">
    <h1>{{resultado.titulo}}</h1>
  </a>
  <p>Autor:
    <span>{{resultado.autor}}</span> Año:
    <span>{{resultado.anio}}</span>
  </p>
  <p class="text-muted">{{resultado.descripcion.substring(0, 300)}}...</p>
  <div>
    <span>Calificación:</span>
    <div class="calificacion">
      <i *ngIf="resultado.calificacion > 0" class="fa fa-star"></i>
      <i *ngIf="resultado.calificacion > 1" class="fa fa-star"></i>
      <i *ngIf="resultado.calificacion > 2" class="fa fa-star"></i>
      <i *ngIf="resultado.calificacion > 3" class="fa fa-star"></i>
      <i *ngIf="resultado.calificacion > 4" class="fa fa-star"></i>
    </div>
  </div>
</section>