<section>
  <a href="detalle/{{documento.Id}}">
    <h1>{{documento.Titulo}}</h1>
  </a>
  <p>Autor:
    <span>{{documento.Autor.NombreCompleto}}</span> Año:
    <span>{{documento.Anio}}</span>
  </p>
  <p class="text-muted">{{documento.Resumen.substring(0, 300)}}...</p>
  <div>
    <span>Calificación:</span>
    <div class="calificacion">
      <i *ngIf="documento.Calificacion > 0" class="fa fa-star"></i>
      <i *ngIf="documento.Calificacion > 1" class="fa fa-star"></i>
      <i *ngIf="documento.Calificacion > 2" class="fa fa-star"></i>
      <i *ngIf="documento.Calificacion > 3" class="fa fa-star"></i>
      <i *ngIf="documento.Calificacion > 4" class="fa fa-star"></i>
    </div>
  </div>
</section>